<div class="container mt-4">
  <h1>Contact Edit</h1>

  <!-- Input validator message -->
  <div class="my-2">
    <% if (message.errorName || message.errorEmail || message.errorPhone) { %>
    <div class="alert alert-danger d-flex justify-content-between align-items-start w-100">
      <ul style="margin: 0">
        <% if (message.errorName) { %> <li><%= message.errorName %></li> <% } %> 
        <% if (message.errorEmail) { %> <li><%= message.errorEmail %></li> <% } %> 
        <% if (message.errorPhone) { %> <li><%= message.errorPhone %></li> <% } %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
  </div>

  <form action="/contact/update" method="post">
    <div>
      <input type="hidden" name="oldName" value="<%= data.name %>" />
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" value="<%= (editData.name) ? editData.name : data.name %>" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" value="<%= (editData.email) ? editData.email : data.email %>" />
      </div>
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="number" name="phone" class="form-control" value="<%= (editData.phone) ? editData.phone : data.phone %>" required />
      </div>
    </div>
    <div class="modal-footer">
      <a href="/contact" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary ms-2">Update</button>
    </div>
  </form>
</div>
